<template name="quickprint">
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-2">

                <img class="img-circle " src="images/quick-print.png" alt="Generic placeholder image" width="140" height="140">
                <hr>
                <p>In this section you could upload your file as quick as possible and leave all the hard work to us.</p>
                <p>Feel free to use it as you want, just remember all the uploaded files in this section should not be stored at cloud.</p>
                <p><a class="btn btn-blue fa fa-arrow-circle-left" href="{{pathFor 'dashboard'}}" style="width: 100%;" role="button">&nbsp; Dashboard</a></p>
            </div>
            <div class="col-lg-10">
                <h1>Quick Print</h1>
                <div class="container">
                    {{> upload}}
                </div>
            </div>
        </div>
    </div>
</template>
